table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  th, td {
    padding: 10px;
  }
  tr:nth-child(odd)>td, 
      .table-striped>tbody>tr:nth-child(odd)>th {
       background-color: #ff0;
  }
  tr:nth-child(even)>td, 
  tr:nth-child(even)>th {
       background-color: #ccc;
  }
  thead>tr>th {
        background-color: #eee;
  }