*{
    box-sizing: border-box;
}
main{
    display: flex;
    background-color: red;
    flex-direction: row;
    justify-content: space-around;
}

main div{
    background-color: aquamarine;
    width: 120px;
    height: 100px;
    margin-right: 10px;
}

div.uno{
    order:3;
}
div.dos{
    order:5;
}
div.tres{
    order:1;
}
div.cuatro{
    order:2;
}
div.cinco{
    order:4;
}



article{
    display: flex;
    flex-direction: row;
    width:250px;
    height:300px;
    border: black 1px solid;
}
article p.fruta{
    font-size: 600%;
    border:black 1px solid;
}
article p.fruta2{
    border:orange 1px solid;
    background-color:aquamarine;
    height:10%;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3%;
    color:red;
}
article p.contenido{
    height:90%;
    width:100%;
    border:blue 1px solid;
    padding:5%;
    text-align: justify;
}
section{
    display:flex;
    flex: row wrap;
}

article.otro{
    display:flex;
    flex-direction: row;
    width:250px;
    height:300px;
    border:black 1px solid;
}
article.otro.div.tipo{
    display: flex;
    flex-direction: row;
    border: black 1px solid;
    margin:;
}
article.otro p.fruta{
    font-size: 600%;
    border:black 1px solid;
}
article p.fruta2{
    border:orange 1px solid;
    background-color:aquamarine;
    height:100%;
    width:70%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3%;
    color:red;
    padding-top: 10%;
}
article p.contenido{
    height:90%;
    width:100%;
    border:blue 1px solid;
    padding:5%;
    text-align: justify;
}
section{
    display:flex;
    flex: row wrap;
}
/* CARD ON INTERNET*/
article.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:15%;
    height:15%;
}
article.card img{
    height:50%;
    border-radius: 10% 50% / 20% 30%;
    -webkit-border-radius: 10% 50% / 20% 30%;
    -moz-border-radius: 10% 50% / 20% 30%;
    -ms-border-radius: 10% 50% / 20% 30%;
    -o-border-radius: 10% 50% / 20% 30%;
}
article.price {
    color: blue;
    font-size: 22px;
    width:20%;
}
article.card div.texto{
    height:20%;
}  
article.card button {
    outline:0;
    padding:12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width:100%;
    font-size:18px;
}
  
article.card button:hover {
    opacity: 0.7;
}

/* Trabajando con GRIDCSS */
article.grid{
    border:0;
    margin:0;
    width:60%;
    height: 500px;
    display: grid;
    background-color: aqua;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: stretch;
}

article.grid div{
    background-color: bisque;
    border:1px black solid;
}
div.bloque1{
    /* grid-column:1 / span 2;
    grid-row: 1 / 3;*/
    grid-area: 1 / 1 / 3 / 3;
}

div.bloque2{
    grid-column:4;
    grid-row:4;
}