*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 60%;
    height: 40%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "uno dos tres tres"
    "cuatro cuatro tres tres"
    "cinco cinco seis seis";
}
div{
    width:100%;
    background-color: orange;
}
div img{
    width:100%;
    height:100%;
    object-fit: fill;
    border: green 1px solid;
}
div.uno{
    grid-area: uno;
    background-color: blue;
}
div.dos{
    grid-area: dos;
    background-color: green
}
div.tres{
    grid-area: tres;
    background-color: red;
}
div.cuatro{
    grid-area: cuatro;
    background-color: yellow;
}
div.cinco{
    grid-area: cinco;
    background-color: orange;
}
div.seis{
    grid-area: seis;
    background-color: aqua;
}
