*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: 2000px;
}
/* Contenido de la cabecera */
header{
    width:100%;
    height:30%;    
    background: linear-gradient(rgb(255, 255, 255) 10%, transparent 90%),  url('../img/header.png') no-repeat;
    background-size:cover;
}
header div.encabezado{
    display:flex;
    flex:row nowrap;
    width:100%;
    height:25%;
    padding:2%;
    gap:5%; 
}
header div.encabezado figure{
    width:10%;
    height:90px;
    align-self:center;
}
header div.encabezado div.texto{
    width:75%;
    align-self:center;
    text-align: left;
}
header div.encabezado div.texto h1 a{
    color:black;
    text-decoration: none;
}
header div.encabezado div.texto h1 a:hover{
    color:red;
}
header div.encabezado div.texto h3{
    color:rgb(24, 139, 139);
}
header div.encabezado div.buscar{
    width:15%;
    align-self:center;
    text-align: right;
}
header div.encabezado div.buscar a{
    color:black;
    text-decoration: none;
}
header div.encabezado div.buscar a:hover{
    color:red;
}


/* Colocar los estilos del nav del header */
/*Borde y posición del nav*/
header nav{
    position:sticky; position:-webkit-sticky; top:10px;
    width:90%;
    height:10%;
    margin:auto; 
    background-color:white;
    border:1px red solid;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
  } 
  
  /*Quitar estilo <li> a <ul> */
header nav ul {
    list-style:none;
  }
  
  /* items del menu */
header nav ul li {
    display:inline-block;
    width:16%;
    height:100%;
    
  } 
     
  /* items del menu desplegable */
  header nav ul ul li {
    display:block;
    width:100%;
  }
  
  /* items del menu desplegable al pasar el ratón */   
header nav ul li:hover > ul {
    display:block;
  }   
  
  /* Posición del menú desplegable. Primer nivel */ 
header nav ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del nav */
    bottom:auto;
    background:#eee;
  } 
  /* Posiciñon del menú desplegable. Segundo nivel */
header nav ul ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del ul */
    top:33.3%;
    left:100%;
  } 
  
  /* Posiciñon del menú desplegable. Tercer nivel */
header nav ul ul ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del ul */
    top:0%;
    left:100%;
  } 
  
  /*Formato de los enlaces */
header nav ul li a {
    display:block;
    color:red;
    text-decoration:none;
    font-size:16px;
    width:100%;
    height:100%;
    letter-spacing:1px;
    padding:10px 15px;
  } 
   
  /* efecto al pasar el ratón por los items del menu */   
header nav a:hover {
  background-color:black;
  color:gray;
  }
  
  /* Icono en los desplegables */
header nav a i{
    float:right;
  }
 
/* CSS MAIN */
main{
    display:flex;
    flex: row nowrap;
    background-color:lightgrey;
    width:100%;
    height:50%;
}
main section{
    width:70%;
    height:100%;
}
/* Parte con los artículos de noticias */
main section.noticias{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

/* Vamos a gestionar que el artículo tenga dos div (inicial y oculto) donde el oculto se ve al pasar por encima */
main section article{
    width:29%;
    height:300px;
    border:1px red solid;
    margin:2%;
    color:darkred;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
main section article div.inicial{
    background: linear-gradient(rgb(255, 255, 255) 30%, transparent 70%),  url('../img/logo.jpg') no-repeat;
    background-size:cover;
    height:100%;
    border-radius: 5%;
}
main section article:hover div.oculto{
    opacity:1;
} 
main section article div.oculto{
    background-color:rgb(186, 119, 119);
    height:100%;
    text-align:center;
    position: relative;
    padding:10%;
    top: -298px;
    z-index: 1;
    border-radius: 5%;
    opacity: 0; 
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
main section article div.inicial h4{
    padding: 3% 10%;
    border-bottom:1px red solid;
}
main section article div.inicial h1{
    padding: 5% 10%;
    font-size:1.5em;
}

/* CSS sobre ASIDE */
main aside{
    width:30%;
    height:100%;
    padding:2%;
}

main aside p a{
    color:red;
    text-decoration:none;
}
main aside p a:hover{
    color:gray;
}
main aside section.biblioteca{
    width:100%;
    height:25%;
    margin:5%;
}
main aside figure.biblioteca{
    width:100%;
}
main aside figure.logotipos{
    width:50%;
    margin:2%;
    display:flex;
    flex:row nowrap;
    gap:1%;
}

main aside section.encuentranos{
    width:100%;
    height:20%;
    margin:2%;
    padding:5%;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}
main aside section.encuentranos a{
    color:turquoise;
}
main aside section.encuentranos a:hover{
    color:gray;
}

main aside section.buscar{
    width:100%;
    height:15%;
    padding:5%;
}

main aside section.buscar form input{
    margin:2%;
}
main aside section.buscar form input.submit{
    border:1px red solid;
    padding:10px;
    background-color:white;
    color:red;
    font-weight: bold;
    border-radius:10%;
    -webkit-border-radius:10%;
    -moz-border-radius:10%;
    -ms-border-radius:10%;
    -o-border-radius:10%;
}
main aside section.buscar form input.submit:hover{
    background-color:black;
    color:white;
    border-color:black;
}
main aside section.videos{
    width:100%;
    height:35%;
    padding:5%;
    overflow:auto;
    border-top:1px black solid;
    border-bottom:1px black solid;
}
main aside section.videos hr{
    margin:5%;
}
main aside section.videos iframe{
    width:100%;
    height:auto;
    margin-top:3%;
}

/* CSS sobre FOOTER*/
footer{
    width:100%;
    height:20%;
    background-color:black;
    color:gray;
}

footer nav{
    width:100%;
    height:10%;
    background-color: gray;
    padding-top: 2%;
    padding-bottom: 2%;
}
footer nav a{
    color:white;
    text-decoration: none;
    margin:2%;
}
footer nav a:hover{
    color:yellowgreen;
}

footer div.contenido{
    display:flex;
    width:100%;
    height:90%;
    flex:row nowrap;
    gap:3%;
}

footer div p{
    margin:20px;
}
footer div a{
    color:whitesmoke;
    text-decoration: none;
}
footer div a{
    color:whitesmoke;
    text-decoration: none;
}
footer div a:hover{
    color:gray;
}
footer div p.grisClarito{
    color:antiquewhite;
}
footer div li{
    font-weight: bold;
}
footer div.calendario{
    width:33%;
    padding:1%;
    border-right: red 2px solid;
}
footer div.calendario img{
    width:85%;
    height:85%;
}
footer div.enlaces{
    width:33%;
    padding:1%;
}
footer div.encuentranos{
    width:33%;
    padding:1%;
    border-left:green 2px solid;
}

footer div.encuentranos figure.logotipos{
    width:25;
    height:25%;
    margin:10%;
    display:flex;
    flex:row nowrap;
    gap:1%;
}

img{
    width:100%;
    height:100%;
    object-fit: fill;
}

@media screen and (max-width:800px){
    body{
        height: 2800px;
    }
    header{
        background-color:lightgrey;
        height:15%;
    }
    header div.encabezado{
        flex-direction: column;
        -ms-flex-align: start;
    }
    header nav{
        display: none;
    }
    header div.encabezado div.buscar{
        display: none;
    }
    main{
        flex-direction: column;
        height: 80%;
    }
    main section{
        width:100%;
    }
    main aside{
        width:100%;
    }
    footer{
        display: flex;
        flex: column;
        height: 15%;
    }
    footer div.contenido{
        flex-direction: column;
    }
    footer div.calendario{
        width: 100%;
    }
    footer div.Encuentranos{
        width: 100%;
    }
    footer div.enlaces{
        width:100%;
    }
}