header{
    width:100%;
    height:300px;
    background-image:url("/img/1200px-Media_Markt_logo.svg.png");
    background-repeat:  no-repeat;
    background-position: center;
    background-size:contain, cover;
}
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:600px){
    header{
        width:100%;
        height:300px;
        background-color: blue;
        background-repeat:  no-repeat;
        background-position: center;
        background-size:contain, cover;
    }
}