nav{
    width:200%;
    height:100px;
  }
  nav p{
    display:inline-block;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
  }
  
  nav ul li {
    display:inline-block;
    border-right:1px solid #bbb;
  }
  
  nav ul li:last-child {
    border-right: none;
  } 
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  @media screen and (min-width:600px){
    nav ul {
        background-color: orange;
    }
    p.Home{
      display:none;
    }
    p.Company{
      display:none;
    }
    p.Services{
      display:none;
    }
    p.Showcase{
      display:none;
    }
    p.Support{
      display:none;
    }
    p.Privacy{
      display:none;
    }
    p.Contact{
      display:none;
    }
  }
