nav{
    width:200%;
    height:100px;
  }
  nav p{
    display:inline-block;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
  }
  
  nav ul li {
    display:inline-block;
    border-right:1px solid #bbb;
  }
  
  nav ul li:last-child {
    border-right: none;
  } 
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: lightslategrey;
  }
  
  nav ul li a:active {
    background-color: #04AA6D;
  }

  @media screen and (max-width:600px){
    nav ul {
        background-color: orange;
    }
    p.texto{
        display:none;
    }

  }