*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width:100%;
    height:1500px;
}

/*
    centrar cosas en flex con justify-content (primario) y align-items (secundario) o align-self o margin:0 auto en el elemento
    Con p basta que sean block y text-align
*/
header{
    width:100%;
    height:15%;
    background-color:black;
    color:white;
}
header nav.contacto{
    background-color:white;
    color:black;
}
header nav.contacto a{
    text-decoration: none;
    color:black;
}
header nav.sociales{
    background-color:white;
    color:black;
    display:flex;
    flex-direction: row;
    justify-content: end;
    gap:5px;
}
header nav.sociales i{
    font-size:25px;
    color:black;
}
header nav.menu{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width:100%;
    height:20px;
}
header nav.menu div{
    text-align:center;
}
header nav.menu div a{
    text-decoration:none;
}
header nav.menu i{
    color:green;
    font-size:30px;
}
header nav.menu h3{
    color:white;
}
header div.logotipo{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding:0 5%;
    width:100%;
    height:110px;
}
header div.logotipo p a{
    text-decoration:none;
    color:white;
}
header div.logotipo div.logo{
    display:flex;
    flex-direction: row;
    align-items:center;
}
header div.logotipo div.logo figure{
    width:15%;
    height:20%;
}
header div.logotipo div.logo figure img{
    width:100%;
    height:100%;
}
main{
    width:100%;
    height:75%;
}
main section.trabajos{
    width:100%;
    height:10%;
    background-color:orange;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding-left:2%;
}
main section.trabajos h2{
    color:white;
    font-weight: bold;
}
main section.trabajos p{
    color:blue;
}
main section.contenido{
    width:100;
    height:90%;
    background-color:beige;
    padding:0 1%;
}
main section.contenido article{
    width:100%;
    height:150px;
    display:flex;
    flex-direction: row;
    border:1px black solid;
    margin-top:1%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
main section.contenido figure{
    width:10%;
    height:100%;
}
main section.contenido figure img{
    width:100%;
    height:100%;
}
main section.contenido div{
    width:90%;
    height:10%;
    padding:2%;
}
main section.contenido div h3{
    color:blue;
}
main section.contenido div p{
    text-align:justify;
}
footer{
    width:100%;
    height:10%;
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
footer p{
    text-align:center;
    color:white;
}


@media screen and (max-width:600px){
    header{
        height:22%;
    }
    header nav.contacto{
        display:none;
    }
    header nav.menu div i{
        display:none;
    }
    header nav.menu{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
    }
    header nav.menu div{
        border:1px white solid;
        text-align:left;
        padding:5px;
    }
    main{
        height:68%;
    }
    
}

@media screen and (min-width:600px) and (max-width:1000px){
    header div.logotipo i{
        display:none;
    }
    main section.trabajos{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        padding-right: 2%;
    }
    main section.contenido{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    main section.contenido article{
        display:flex;
        flex-direction:column;
        width:50%;
        height:330px;
    }
    main section.contenido figure{
        width:100%;
        height:40%;
    }
    main section.contenido figure img{
        width:40%;
        height:100%;
    }
    main section.contenido div{
        width:100%;
        height:60%;
        padding:2%;
    }
}

@media screen and (min-width:1000px){
    header div.navegacion{
        display:flex;
        flex-direction:row;
        width:100%;
        height:10%;
    }
    header div.navegacion nav.contacto{
        width:50%;
    }
    header div.navegacion nav.sociales{
        width:50%;
    }
    header div.contenedor{
        display:flex;
        flex-direction:row;
        width:100%;
        height:50%;
        align-items:center;
    }
    header div.contenedor div.logotipo{
        width:30%;
    }
    header div.contenedor nav.menu{
        width:70%;
        
    }
    header div.logotipo i{
        display:none;
    }
    header div.logotipo div.logo figure{
        width:80px;
        height:90px;
    }
    main section.trabajos{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        padding-right: 2%;
    }
    main section.contenido{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    main section.contenido article{
        display:flex;
        flex-direction:column;
        width: 33%;
        height:330px;
    }
    main section.contenido figure{
        width:100%;
        height:40%;
    }
    main section.contenido figure img{
        width:40%;
        height:100%;
    }
    main section.contenido div{
        width:100%;
        height:60%;
        padding:2%;
    }   
}