*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100px;
    display: flex;
    flex: row nowrap;
    background-color: blueviolet;
}
div{
    width: 32%;
    height: 30%;
    margin: 2%;
}
div.uno{
    background-color: red;
}
div.dos{
    background-color: blue;
}
div.tres{
    background-color: green;
}

@media screen and (max-width: 900px) {
    body {
        background-color: orange;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: greenyellow;
        display: flex;
        flex: column wrap;
    }
    div{
        display: block;
        width: 100%;
    }
}