*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100px;
    display: flex;
    flex: row nowrap;
    background-color: blueviolet;
}
div{
    width: 32%;
    height: 30%;
    margin: 2%;
}
div.uno{
    background-color: red;
}
div.dos{
    background-color: blue;
}
div.tres{
    background-color: green;
}

@media  (max-width: 700px) {
    body {
        background-color: blue;
    }
    div.row div.column {
        flex: 50%;
    }
    div.row div.column2 {
        flex: 25%;
    }
    .verde{
        background-color: gray;
    }
}

@media print , (min-width: 700px) and (max-width:992px) {
    body {
        background-color: antiquewhite;
    }
    div.row{
        display: block;
        width: 100%;
        flex-direction: column;
    }
    .verde{
        background-color: green;
    }
}