*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
}
/* Estilos del Header */
header{
    width:100%;
    height:40%;  
    display:flex;  
}
/* Estilos de la barra de navegación del header */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}
    
li {
    float: left;
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display:flex;
}
/* Estilos del main */
main{
    width:100%;
    height:60%;
}
/* Estilos de la imagen de universo */
.universo{
    width:1520px;
    height:770px;
}
/* Estilos del conteiner1 con las imágenes */
main section div.container1{
    display: flex;
    justify-content: space-around;

}

.img-1{
    margin-top: 15px;
    margin-right:5px;
    margin-left:15px;
    width:440px;
    height:440px;
}

.img-2{
    margin-top: 15px;
    margin-left: 10px;
    width: 440px;
    height: 440px;
}

.img-3{
    margin-top: 15px;
    margin-left: 10px;
    width: 440px;
    height: 440px;
}
/* Estilos de las columnas de texto de la parte primero con zero, festival y personas */
.primero {
    margin-bottom:3px;
    height:100%; 
}

.Zero {
    text-align: center;
    float:right; 
    width:300px;
    padding:10px; 
}

.Personas {
    text-align:center;
    float:left;
    margin-left:170px; 
    margin-right:270px;
    width:170px;
    padding:10px;
}

.Festival {
    text-align:Center;
    float:left;
    margin-left:160px; 
    margin-right:170px;
    width:170px;
    padding:10px;
}
/*Estilos de la parte intermedia*/
.intermedio {
    margin-bottom:7px;
    height:100%; 
}

.titulo_intermedio {
    text-align:center;
    float:left; 
    height: 120px;
    padding:10px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 1600px;
    font-weight: normal;
    font-weight: 600;
}
/* Estilos de las imágenes 4,5 y 6*/

.img-4{
    margin-top: 15px;
    margin-right:5px;
    margin-left: 180px;
    width:390px;
    height:390px;
}

.img-5{
    margin-top: 15px;
    margin-left: 15px;
    width: 390px;
    height: 390px;
}

.img-6{
    margin-top: 15px;
    margin-left: 15px;
    width: 390px;
    height: 390px;
}
/* Estilos de la parte segundo con Juntos, Disfrute y Bares*/
.segundo {
    margin-bottom:3px;
    height:100%; 
}

.Bares {
    text-align: left;
    float:right; 
    width:300px;
    padding:10px;
    
}

.Disfrute {
    text-align:center;
    float:left;
    margin-left:170px; 
    margin-right:270px;
    width:170px;
    padding:10px;
    
}

.Juntos {
    text-align:center;
    float:left;
    margin-left:160px; 
    margin-right:170px;
    width:170px;
    padding:10px;
}

/* Estilos de la barra de navegación de main */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
    
li {
    float: left;
}
    
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
nav.final ul{
    background-color:green;

}
/* Estilos de Footer */
footer{
    margin:auto;
    width:100%;
    height:100%;
    margin-top: 250px;
    background-color:black;
    color:white;
}
/* Estilos de Publicidad de Footer */
.Publicidad{
    text-align: left;
    margin-top:100px;
    margin-left:80px;
    justify-content: left;
    align-items: left;
    padding-top:50px;
}
/* Estilos de Cocacola3 de Footer */
.Cocacola3{
    margin-top: 15px;
    margin-left: 15px;
    width: 150px;
    height: 150px;
}
/* Estilos de Cocacolagris de Footer */
.cocacolagris{
    margin-top: 0px;
    margin-left: 750px;
    width: 150px;
    height: 50px;
}
/* Estilos de Derechos_cocacola de Footer */
.Derechos_cocacola{
    text-align: right;
    margin-top:0px;
    margin-right:120px;
    margin-left:80px;
    justify-content: right;
    align-items: right;
    
}