@import url('https://fonts.googleapis.com/css2?family=Playball');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Playball', sans-serif;
}

header h1{
  background-color: rgb(231, 85, 45);
  font-size: 40px;
  text-transform: uppercase;
  padding: 5px 5px 20px 5px;
}
footer h2{
  background-color: rgb(231, 85, 45);
}

main{
  padding:3% 7%;
  padding:0 5%;
  border-left-color:red solid 3px;
  border-right-color: red solid 3px;
}


section{
  background-color: bisque;
  padding:0 10%;
  margin-bottom:5%;
}
section h2,h3{
  color: white;
  background-color: rgb(42,116, 17);
}

section.article{
  margin:3% 10%;
  overflow: auto;
}

section.siglo19 h2,h3{
  color: blue;
  background-color: yellowgreen;
}

section.siglo19{
  background-color: aqua;
}

article img{
  width:100px;
  height:200px;
}
article figure{
  display:block;
  float:right;
  padding:2% 5%;
  margin: 0 2%;
  border-left: orange dotted 3px;
}
article p{
  display:block;
  width:70%;
  text-align: justify;
}