#intro:target{
    color:blue;
}
/*Pseudoclases sobre enlaces*/
a.enlace{
    text-decoration:none;
}
a.enlace2:visited{
    color:gray; text-decoration:underline;
}
a.enlace3:hover{
    background-color: #f44336; color: white;   
    padding: 14px 25px;
}

p:target {
    background-color: gold;
  }
  
  /* Agrega un pseudo-elemento dentro del elemento de destino */
  p:target::before {
    font: 70% sans-serif;
    content: "►";
    color: limegreen;
    margin-right: .25em;
  }
  
  /* Estilo de elementos en cursiva dentro del elemento de destino */
  p:target i {
    color: rgb(255,100,50);
  }

  body{
    background-color:rgb(153, 224, 135);
  }
  p{
    color:black;
  }

div.imagenFondo{
    background-image: url("https://i.blogs.es/debdc9/1629460557_098553_1629460592_portada_normal/840_560.jpeg");
    width:100%;
    height:300px;
    background-size: 100% 100%;
}
div{
  display: block;
  height: 200px;
  overflow: auto;
}
div img{
  width: inherit;
}
div.degradado{
  background-image: linear-gradient(red,yellow,red);
}
h2{
  font-family:'Gloock','Times New Roman','Arial';
  font-size: 3em;
}

h1.sombreado{
}
nav{
  background-color: white;
  width: 70%;
  border-color: red;
  border-style: dotted;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

nav ul li a:hover{
  background-color: black;
  color: white;
  font-size: 2em;
  text-decoration:none;
}

ul{
  list-style-type: lower-greek;
}

/*Trabajando con tablas*/

thead{
  background-color: blue;
  color:white;
  font-weight: bold;
}

tbody{
  background-color: cyan;
  color:black;
}
tr td{
  
}

/* CSS para realizar dropdown */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* menu desplegable */

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0;
 }
 
 /* items del menu desplegable */
 
 #menu ul ul li {
  float:none;
  width:150px
 }
 
 /* enlaces de los items del menu desplegable */
 
 #menu ul ul a {
  line-height:120%;
  padding:10px 15px;
 }
 
 /* items del menu desplegable al pasar el ratón */
 
 #menu ul li:hover > ul {
  display:block;
 }

 div.caja{
  background-color:cyan;
  width: 150px;
  height:200px;
  margin: 200px;
 }
 div.borde{
  border: 10 px solid orange;
 }
 div.padding{
  padding: 20px;
 }

 div.ejemplo{
  width:33.3%;
  border: 10px;
  padding: 10px;
 }
article{
  width: 40%;
  height: 30%;
}
article p{
  width: 40%;
  height: 20%;
}